body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  .text-box-window {
    border: 1px solid black;
    background-color: white;
    width: 300px;
    position: absolute;
  }
  
  .text-box-bar {
    background-color: #ccc;
    cursor: move;
    padding: 5px;
  }
  
  textarea {
    width: 100%;
    height: 150px;
    border: none;
  }
  
  button {
    float: right;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
  }
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex; */
  justify-content: center;
  /* align-items: center; */
  color: #4caf50; /* Green color similar to money lettering */
  font-size: 24px;
  z-index: 1000;
  pointer-events: none; /* Makes the overlay click-through */
  
  text-shadow: 2px 2px 4px #8bc34a; /* Light green shadow for depth, resembling dollar background */
}
